@import '~antd/dist/antd.css';

.events {
    list-style: none;
}

.activityList {
    float: left;
    padding: 20px;
    background: '#ECECEC';
    width: 20%;
}

.calendar {
    float: right;
    padding: 20px;
    width: 80%;
}

.loginsignup {
    float: right;
    padding: 20px;
}

.login {
    float: left;
    padding-right: 10px;
}

.signup {
    float: left;
}

.activityComposer {
    float: right;
}